name: GenAI Issue Labeller
on:
  issues:
    types: [opened, edited]
permissions:
  issues: write
  contents: read
jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: pelikhan/action-genai-issue-labeller@v0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}